<?xml version="1.0" encoding="utf-8"?><plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>http://dlied5.myapp.com/myapp/1104680867/DPiOSApp/dpcq_enterprise_sign_1.0.0.735.ipa</string>
					</dict>
					<dict>
						<key>kind</key>
						<string>display-image</string>
						<key>needs-shine</key>
						<true/>
						<key>url</key>
						<string>http://soda.oa.com/notfound.png</string>
					</dict>
				</array>
				<key>metadata</key>
				<dict>
					<key>bundle-identifier</key>
					<string>com.tencent.dpcq</string>
					<key>bundle-version</key>
					<string>1.0.735(735)</string>
					<key>kind</key>
					<string>software</string>
					<key>title</key>
					<string>斗破苍穹</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>
